{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }
    .dashboard-section {
      background-color: #2C3E50;
      color: #ffffff;
      border-radius: 0.3rem;
      padding: 1.5rem;
      height: 100%;
    }
    .dashboard-title {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }
    .graph-box {
      height: auto;
    }
    .transaction-box {
      height: 200px;
    }
    @media (max-width: 768px) {
      .graph-box, .transaction-box {
        height: auto;
      }
    }

    .btn-green{
    background-color: #4CAF50;
    }
    .btn-red{
    background-color: red;
    }
</style>

<!-- Financial Instrument -->

<div class="col-lg-3 col-md-12">
    <div class="dashboard-section h-100">
        <div class="dashboard-title">Financial Instrument</div>
        <form method="POST" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input id="js-search-symbol" name="Symbols" type="text" class="form-control"
                       placeholder="Enter Symbols"
                       aria-label="Example text with button addon"
                       aria-describedby="button-addon1" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
            </div>
        </form>

        <table class="table table-striped table-border mt-3" id="financial-table" style="table-layout: fixed;">
            <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Last Pr</th>
                <th>Open Pr</th>
                <th>ch(%)</th>
            </tr>
            </thead>


            <tbody>
            {% for item in financialTableData %}
            <tr style="cursor: pointer;">
                <td>{{ item.symbol }}</td>
                <td>{{ item.last_price }}</td>
                <td>{{ item.open_price }}</td>
                <td>{{ item.change_percent }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Graph and Transaction in center -->
<div class="col-lg-6 col-md-12">
    <!-- Graph -->
    <div class="dashboard-section graph-box mb-4">
        <div id="chart-container" class="text-center" style="display:none;">
            <h5 id="chart-title"></h5>
            <img id="chart-image" src="" alt="Stock Chart" class="img-fluid rounded shadow">
        </div>
        <div>
            <a class="btn btn-primary btn-green" href="#quantity">BUY</a>
            <a class="btn btn-primary btn-red" href="#quantity">SELL</a>
            {{user.asset}}
        </div>
    </div>
    <!-- Transaction History -->
    <div class="dashboard-section transaction-box container" style="height:300px; overflow-y:auto;">
        <div class="row" >
            <div class="dashboard-title">Transaction History</div>

            <table border="1" class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Asset</th>
                    <th>Transaction type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for trans in transactions %}
                <tr>
                    <td>{{ trans.asset }}</td>
                    <td>{{ trans.transaction_type }}</td>
                    <td>{{ trans.quantity }}</td>
                    <td>{{ trans.price|floatformat:2 }}</td>
                    <td>${{ trans.timestamp }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Portfolio -->
<div class="col-lg-3 col-md-12">
    <div class="dashboard-section h-100 d-flex gap-2 flex-column">
        <div class="dashboard-title">Portfolio</div>

        <h4>Welcome to your trading portfolio, {{ request.user.username }}</h4>
        <h4>{{ portfolio.name }}</h4>
        <h4>Total Value: ${{ user.profile.account_balance|floatformat:2 }}</h4>

        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Quantity</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for pos in positions %}
            <tr>
                <td>{{ pos.asset.symbol }}</td>
                <td>{{ pos.quantity|floatformat:2 }}</td>
                <td>${{ 0 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


        <form method="POST" action="{% url 'trade_asset' %}">
            {% csrf_token %}
            <div class="from-group d-flex gap-2">
                <input class="form-control" type="text" name="symbol" id="symbol" required hidden="hidden">

                <input class="form-control" type="number" step="0.0001" name="quantity" placeholder="Quantity"
                       id="quantity" required>

                <input class="form-control" type="number" step="0.01" name="price" id="price" required
                       hidden="hidden">

                <select class="form-control" name="transaction_type" id="transaction_type" required>
                    <option value="BUY">Buy</option>
                    <option value="SELL">Sell</option>
                </select>

                <button class="btn btn-success" type="submit">Ok</button>
            </div>

        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    let symbol = "";
    let price = 0.00;
    $(document).ready(function () {
        show_graph($('#financial-table tr').not(':first')[0])
        $('#financial-table tr').not(':first').click(function () {
            show_graph(this);
        });
        load_assets_data();
    });
    let show_graph = (obj) =>{
        symbol = $(obj).find('td:eq(0)').text();
        price = $(obj).find('td:eq(1)').text();
        $('#chart-title').text(`Chart for ${symbol}`);
        $('#chart-container').show();

        $.ajax({
            url: `/get-chart/${symbol}/`,
            method: 'GET',
            success: function (response) {
                if (response.image) {
                    $('#chart-image').attr('src', 'data:image/png;base64,' + response.image);
                } else {
                    alert('Error generating chart: ' + response.error);
                }
            }
        });
    }
    let load_assets_data = () =>{
        $('.btn-green, .btn-red').on('click', () => {
            $('#symbol').val(symbol)
           $('#price').val(price)
        })
    }
</script>
{% endblock %}


