{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }
    .dashboard-section {
      background-color: #2C3E50;
      color: #ffffff;
      border-radius: 0.3rem;
      padding: 1.5rem;
      height: 100%;
    }
    .dashboard-title {
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }
    .graph-box {
      height: auto;
    }
    .transaction-box {
      height: 200px;
    }
    @media (max-width: 768px) {
      .graph-box, .transaction-box {
        height: auto;
      }
    }
</style>

<!-- Financial Instrument -->
<div class="col-lg-3 col-md-12">
    <div class="dashboard-section h-100">
        <div class="dashboard-title">Financial Instrument</div>
        <form method="POST" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input id="js-search-symbol" name="Symbols" type="text" class="form-control" placeholder="Enter Symbols"
                       aria-label="Example text with button addon"
                       aria-describedby="button-addon1" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
            </div>
        </form>

        <table class="table table-striped table-border mt-3" id="financial-table" style="table-layout: fixed;">
            <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Lt Price</th>
                <th>Op Price</th>
                <th>ch(%)</th>
            </tr>
            </thead>


            <tbody>
            {% for item in financialTableData %}
            <tr style="cursor: pointer;">
                <td>{{ item.symbol }}</td>
                <td>{{ item.last_price }}</td>
                <td>{{ item.open_price }}</td>
                <td>{{ item.change_percent }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Graph and Transaction in center -->
<div class="col-lg-6 col-md-12">
    <!-- Graph -->
    <div class="dashboard-section graph-box mb-4">
        <div id="chart-container" class="text-center" style="display:none;">
            <h5 id="chart-title"></h5>
            <img id="chart-image" src="" alt="Stock Chart" class="img-fluid rounded shadow">
        </div>

    </div>
    <!-- Transaction History -->
    <div class="dashboard-section transaction-box">
        <div class="dashboard-title">Transaction History</div>

    </div>
</div>

<!-- Portfolio -->
<div class="col-lg-3 col-md-12">
    <div class="dashboard-section h-100 d-flex">
        <div class="dashboard-title">Portfolio</div>
        <p class="text-center">[Summary: Holdings, Balance, P/L]</p>
        Welcome to your trading portfolio, {{user.first_name}}
        {{user.last_name}}, {{user.profile.account_balance}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
        $(document).ready(function () {
            show_graph($('#financial-table tr').not(':first')[0])
            $('#financial-table tr').not(':first').click(function () {
                show_graph(this);
            });
        });
        let show_graph = (obj) =>{
            const symbol = $(obj).find('td:eq(0)').text();
            $('#chart-title').text(`Chart for ${symbol}`);
            $('#chart-container').show();

            $.ajax({
                url: `/get-chart/${symbol}/`,
                method: 'GET',
                success: function (response) {
                    if (response.image) {
                        $('#chart-image').attr('src', 'data:image/png;base64,' + response.image);
                    } else {
                        alert('Error generating chart: ' + response.error);
                    }
                }
            });
        }
</script>
{% endblock %}


